<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
    <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">


  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>ncu.im3069.controller.FileUploadHandler</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/NCU_MIS_SA_Group10/FileUploadHandler</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>ncu.im3069.controller.CookieController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/api/cookie.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>member</servlet-name>
        <servlet-class>ncu.im3069.controller.MemberController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>member</servlet-name>
        <url-pattern>/api/member.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>song</servlet-name>
        <servlet-class>ncu.im3069.controller.SongController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>song</servlet-name>
        <url-pattern>/api/song.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>playlist</servlet-name>
        <servlet-class>ncu.im3069.controller.PlaylistController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>playlist</servlet-name>
        <url-pattern>/api/playlist.do</url-pattern>
    </servlet-mapping>
</web-app>