#top_bar{
    position:fixed;
    z-index:1;
    width: 100%;
    top:0;
  }
  
  
  #song_perform{
    height: 500%;
    width: 100%;
    margin-top: 50px;
    align-items: start;
    justify-content: left;
    background:rgb(104, 104, 104);
    color: white;
  }

  .card-title{
    color:#000;
  }

  .card-text{
    color:#000;
  }

  .card{
    float:left;
  }s

  a:link{
    text-decoration:none;
    color:#ffffff;
    }
    a:visited {
    text-decoration:none;
    color:#ffffff;
    }
    a:hover {
    text-decoration:underline;
    background-color:rgb(178, 172, 189);
    color:rgb(255, 255, 255);
    }
    a:active {
    text-decoration:none;
    background-color:rgb(143, 132, 236);
    color:#fafafa;
    }